@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: helvetica;
    color: #666666;
}

h2{
    font-family: Righteous;
    letter-spacing: 3px;
    color: #666666;
}

#logo{
    float: left;
    font-size: 250%;
}

#menu{
    font-size: 120%;
    lists-style-type: none;
    letter-spacing: 3px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #666666;
}

.active{
    border-bottom: 1px solid #666666;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url("assets/images/labradormassage.jpg") no-repeat center center
}