@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

/* common */

.bg-color-name-title {
     background-color: #f9eee2;
}

body{
   background-color: white;
   padding-top: 109px;
}


 h1, h2, h3, h4, h5{
     font-family: Righteous;
     letter-spacing: 3px;
     color: #666666;
 }

/* header */

header {
    margin: 0;
    background-color: #E8E8E8;
    width: 100%;
    top: 0;
}

#logo{
    float: left;
    margin-left: 40px;	  
    color: #666666;
}

.navbar-brand{
    font-size: 100%;
}

#menu{
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 5px;
    list-style:none;   
    color: #666666;
    font-family: "helvetica", sans-serif;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
	 
#menu a:hover {
    border-bottom: 1px solid #666666;
}
	 
.active{
     border-bottom: 1px solid #666666;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 70%;
  }
  #menu {
    font-size: 100%;
    line-height: 30px;
  }
  #copyright{
    font-size: 120%;
  }
  #contact-title{
    font-size: 105%;
  }
  .list-inline-item{
    height: 20px;
    width: 20px;
    padding: 20px;
  }
  
}


/* body common */


.heading {
   margin-left: 50px;
}

.name {
    font-family: "Righteous", sans-serif;
    margin-top: 50px;
    color: #666666;
 }

.title {
    font-family: "helvetica", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #666666;
    margin-right: 50px;
}

#titles1, #titles2, #titles3, #titles4, #titles5{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    background-color: #E8E8E8;   
}



/* massages */

.logo1 {
     background: url("../images/stress.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}
	 
.logo2 {
     background: url("../images/sport.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

.logo3 {
     background: url("../images/pain.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 250px;
}
	 
 /* benefits */

#benefits{
    padding-top: 100px;
 }

#benefits-height1, #benefits-height2, #benefits-height3{
  height: 350px;
}
	 
 /* about me */

#aboutme{
     padding-top: 100px;
 }
	 
.logo4 {
     background: url("../images/aboutme.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 300px;
 }

  /* consult */

#consult{
     padding-top: 100px;
 }

#consult-height1, #consult-height2{
  height: 360px;
}

.logo5 {
     background: url("../images/consult.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

/* reviews */

#reviews{
     padding-top: 100px;
 }

 #review-hight1, #review-hight2, #review-hight3{
   height: 300px;
 }

/* contact */

#contact{
     padding-top: 100px;
     padding-bottom: 30px;
 }

#contact-text1, #contact-text2{
  height: 500px;
}

.button{
    background: #87ea55;
    padding: 13px 29px;
    border-radius:  15px;
  }

.logo6 {
     background: url("../images/contact.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

form{
    padding-bottom: 10px;
    padding-top: 10px;
}

 /* footer */

footer {
     min-height: 75px;
     margin: 0;
     padding: 30px;
     height: 75px;   
     width: 100%;
}

.social-links {
     padding-bottom: 15px;
     width: 100%;
}

.social-links li a i {
     letter-spacing: 50px;
     padding: 15px;
     font-size: 40px;
     line-height: 7px;
     text-align: center;
     width: 100%;
}

#footer-details{
    background-color: #E8E8E8;
    padding-top: 30px;
}