@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body{
   background-color: white;
   padding-top: 109px;
}

 h1, h2, h4{
     font-family: Righteous;
     letter-spacing: 3px;
     color: #666666;
 }

/* header */

header {
    margin: 0;
    background-color: #E8E8E8;
    width: 100%;
    top: 0;
}

#logo{
    float: left;
    margin-left: 40px;	  
}

.navbar-brand{
    font-size: 100%;
}

#menu{
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 5px;
    list-style:none;   
    color: #666666;
    font-family: "helvetica", sans-serif;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
	 
#menu a:hover {
    border-bottom: 1px solid #666666;
}
	 
.active{
     border-bottom: 1px solid #666666;
}

@media only screen and (max-width: 900px) {
  #logo {
    font-size: 140%;
  }
  #menu {
    font-size: 100%;
    line-height: 30px;
  }
  #copyright{
    font-size: 120%;
  }  
  .social-links {
    font-size: 10px;
  }
}

/* algemeen */

#padding-title{
    padding-top: 100px;
 }

.column-color{
    background-color: #f9eee2;
    padding: 30px 30px 30px 30px;
    font-family: "helvetica", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #666666;
}

#title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    background-color: #E8E8E8;   
}


/* images */

.logo1 {
     background: url("../images/stress.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}
	 
.logo2 {
     background: url("../images/sport.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

.logo3 {
     background: url("../images/pain.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 250px;
}

.logo4 {
     background: url("../images/aboutme.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 300px;
 }

.logo5 {
     background: url("../images/consult.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

.logo6 {
     background: url("../images/contact.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
}

/* about me */

#aboutme{
  padding-left: 20px;
  padding-right: 20px;
}

/* consult */

#consultrow1{
  padding-left: 20px;
}

#consultrow2{
  padding-left: 20px;
  padding-right: 20px;
}

/* reviews */

 .review-height{
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #E8E8E8;
    text-align: justify;
    font-family: "helvetica", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: #666666;
    display: flex;
 }

/* contact */

#contactrow1{
  padding-left: 20px;
}

#contactrow2{
  padding-left: 20px;
}

 /* footer */

footer {
    margin: 0;
    background-color: #E8E8E8;
    line-height: 30px;
    padding-top: 30px;
}

#copyright{
    padding-left: 40px;
}

.social-links {
    letter-spacing: 40px;
}
